<form>

  <div>
     <h3>Login</h3>

  </div>

  <div class="form-group">

     <label for="login">Login:</label>
     <input type="email" class="form-control" #email="ngModel" [(ngModel)]="usuario.login" id="login" name="login"  required>
     <div *ngIf="email.invalid" class="alert alert-danger">

         Login deve ser informado!

     </div>

  </div>

  <div class="form-group">

    <label for="senha">Senha:</label>
    <input type="password" class="form-control" #senha="ngModel" [(ngModel)]="usuario.senha" id="senha" name="senha"   placeholder="Informe a senha" required>
    <div *ngIf="senha.invalid" class="alert alert-danger">

      Senha deve ser informada!

  </div>

 </div>

 <button type="button" (click)="login();" [disabled]="email.invalid || senha.invalid" class="btn btn-primary" >Acessar</button>

 <button  style="margin-left: 10px;" (click)="recuperar();" type="button" [disabled]="email.invalid" class="btn btn-primary">Recuperar acesso</button>

</form>
