<table class="table">
   <thead class="thread-dark">
      <th scope="col">Id</th>
      <th scope="col">Login</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>

   </thead>
   <tbody>
       <tr *ngFor="let usuario of users">

          <td>{{usuario.id}}</td>
          <td>{{usuario.userlogin}}</td>
          <td>{{usuario.usernome}}</td>
          <td>{{usuario.usercpf}}</td>
          <td><button (click)="deleteUsuario(usuario.id)" class="btn btn-primary">excluir</button></td>

       </tr>
   </tbody>

</table>
